a {
  color: #baf73c;
  text-shadow: 0 0 5px rgba(104,182,255,0.5);
  text-decoration: none;
}

a:active {
  color: rgb(4, 224, 77);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
}

.App-left{
  min-height: 100vh;
  min-width: 50vw;
  font-size: calc(8px + 2vmin);
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

}

.App-left h2{
  color: #baf73c;
	text-shadow: 0 0 5px rgba(104,182,255,0.5);
}

.App-right{
  min-height: 100vh;
  min-width: 50vw;
  font-size: calc(3px + 2vmin);
  background-color: #303746;
  color: #63c0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.8;
  text-shadow: 0 0 5px rgba(104,182,255,0.5);
}

.App-right .content{
  width:  38vw;
  max-height:96vh ;
  overflow: auto;

}

.App-right .content li{
  cursor: pointer;
}

.App-right, .App-left ul {  color: #63c0f5;

  text-shadow: 0 0 5px rgba(104,182,255,0.5);

}

/* .App-right ol {  color: #63c0f5; */

  /* text-shadow: 0 0 5px rgba(104,182,255,0.5);
  height:90vh; min-width:80%;
  overflow:auto;
  overflow-y:scroll; */
/* } */

/* nav ul{height:200px; width:18%;} */
/* nav ul{overflow:hidden; overflow-y:scroll;} */