body {
   scrollbar-width: thin;          /* "auto" or "thin" */
   scrollbar-color: #282c34 #545d6e;   /* scroll thumb and track */
 }

.modal h1{
   font-size: 20px;
}
.modal h2{
   font-size: 18px;
}
.modal h3{
   font-size: 16px;
}
.modal h4{
   font-size: 14px;
}
.modal h5{
   font-size: 14px;
}

.modal li{
   font-size: 15px;
   line-height: 1.8;
} 

.modal pre{
   font-size: 15px;
}

.close{
   position: fixed;
   top: 3%;
   right: 21%;
   cursor: pointer;
 }

 .modal a {
   color: #111392;
   text-shadow: 0 0 5px rgba(104,182,255,0.5);
   text-decoration: none;
 }
 